@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --noir: #2e282a;
    --gris: #979495;
    --blanc: #FFFFEA;
    --violet: #7d82b8;
    --orange: #cd8b76;
    --vert: #4c956c;
}

body{
    font-family: "Atkinson Hyperlegible", sans-serif;
}

.btn {
    display: inline-block;
    background-color: #4c956c;
    border: 0;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #336348;
  }
  
  .btn-rg {
      display: inline-block;
      background-color: #cd8b76;
      color: #fff;
      text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      transition: background-color 0.3s;
    }
  
  .btn-rg:hover {
    background-color: #895d4f;
  }